# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName servicemasterbyfaith.com
AuthUserFile /home/servicem/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/servicem/public_html/_vti_pvt/service.grp
